.not-found
    width 100%
    background #E6E9EF
    text-align center
    padding 280px 0
    +tablet()
        padding 160px 5%
    +mobile()
        padding 100px 5%
    h1
        display inline-block
        padding 15px 18px
        border 2px solid $vermelho
        exo 12
        letter-spacing 1px
        color $vermelho
        text-transform uppercase
