footer
    background $cinza
    border-top 1px solid #000
    .center
        display flex
        +mobile()
            display block
    .col
        flex-grow 1
        border-left 1px solid rgba(#fff, .3)
        padding 24px 20px
        &:last-child
            margin-left auto
            flex-grow 0
            padding-right 0
        a
            display block
            color #fff
            exo 14
            &:not(.title) + a
                margin-top 2px
            &.title
                font-size 16px
                margin 20px 0 4px
                position relative
                &:before
                    content ''
                    position absolute
                    bottom 3px
                    left -20px
                    width 13px
                    height 1px
                    background rgba(#fff, .3)
                &:first-child
                    margin-top 0
            &:hover
                color $vermelho
        .telefones
            padding-left 26px
            margin 8px 0
            exo 14 bold
            color #fff
            background $img('ico-telefone-footer.png') no-repeat left 3px
            span
                display block
        .endereco
            padding-left 26px
            margin 0
            exo 14
            color #fff
            background $img('ico-local-footer.png') no-repeat left 2px
        .copyright
            color #fff
            exo 11
            margin 12px 0 0
            a
                font-size inherit
                display inline-block
        +below($tablet)
            &:nth-child(1)
            &:nth-child(2)
                display none
            a
                display none
            .telefones
                margin-top 0
        +mobile()
            padding 25px 0
            border none
            &:last-child
                padding-top 0
