header
    height 140px
    width 100%
    background #fff
    position relative
    z-index 103
    +below($tablet)
        height 100px
    .center
        clearfix()
        height 100%
    .logo
        width 195px
        height 100%
        display block
        text-indent -9999px
        background $img('heletron.png') no-repeat center
        float left
        +below($tablet)
            width 145px
            background-size 100% auto
    #nav-desktop
        height 100%
        float left
        margin-left 55px
        clearfix()
        +below($tablet)
            display none
        a
            display block
            float left
            height 100%
            padding 89px 14px 0
            exo 16
            text-transform uppercase
            &:hover
                color $vermelho
            &.active
                background #E6E9EF
                &:hover
                    color #000
        p
            display block
            float left
            line-height 1.2
            exo 10
            max-width 170px
            color rgba(#000, .75)
            margin-left 25px
            padding-top 23px
            span
                color #000
    .social
        height 100%
        float right
        font-size 0
        padding-top 90px
        +below($tablet)
            padding-top 42px
            margin-right 15px
        a
            display inline-block
            width 17px
            height 17px
            &.facebook
                background $img('facebook.png') no-repeat center
            &.instagram
                background $img('instagram.png') no-repeat center
            + a
                margin-left 3px
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #333132
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #333132
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        border-bottom 3px solid darken($vermelho, 5)
        background rgba($vermelho, .9)
        padding 25px 0
        position absolute
        top 100px
        left 0
        width 100%
        z-index 102
        text-align center
        a
            display block
            exo 16
            color #fff
            text-transform uppercase
            + a
                margin-top 3px
            &.active
                color #000
        p
            padding 22px 5% 0
            line-height 1.2
            border-top 1px solid rgba(#fff, .12)
            margin 22px 0 0
            exo 10
            color rgba(#fff, .8)
            span
                color #fff
