desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #AF0000
$cinza    = #8F8F8F

@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,700')

exo($size, $weight = normal)
    font-size $size + 0px
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 200
    if $weight == bold
        font-weight 700
