.clientes
.parceiros
.cases
    position relative
    padding-bottom 60px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 30px
    &:before
        content ''
        position absolute
        width 100%
        height 400px
        z-index -1
        background #BCBEC0
        +tablet()
            height 300px
        +mobile()
            height 200px
    .center
        padding-top 90px
        padding-left 50px
        +tablet()
            padding-top 50px
            padding-left 0
        +mobile()
            padding-top 25px
            padding-left 0
    .box
        width 100%
        background #E5E8EE
        padding 50px 50px 85px
        clearfix()
        +tablet()
            padding 35px 35px 65px
        +mobile()
            padding 25px 25px 35px
        h2
            exo 28
            color $vermelho
            margin 0 0 30px
            +tablet()
                font-size 24px
                margin-bottom 25px
            +mobile()
                font-size 20px
                margin-bottom 20px
    .marcas
        width 100%
        img
            display block
            width calc('33.333% - 66.667px')
            float left
            padding 30px
            background #fff
            margin-right 100px
            margin-bottom 100px
            border-right 2px solid rgba(#000, .2)
            border-bottom 2px solid rgba(#000, .2)
            &:nth-child(3n)
                margin-right 0
            +tablet()
                margin-right 40px
                margin-bottom 40px
                padding 25px
                width calc('33.333% - 26.667px')
            +mobile()
                margin-right 25px
                margin-bottom 25px
                padding 15px
                width calc('50% - 12.5px')
                &:nth-child(3n)
                    margin-right 25px
                &:nth-child(2n)
                    margin-right 0
    .cases-lista
        p
            exo 20
            margin 0
            +tablet()
                font-size 18px
            +mobile()
                font-size 14px
            + p
                margin-top 1em
            strong
                display block
                font-weight 700
                padding-left .8em
                position relative
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                    top 0
