.contato
    position relative
    padding-bottom 60px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 30px
    .center
        margin-top -90px
        padding-left 50px
        clearfix()
        +tablet()
            padding-left 0
            margin-top -65px
        +mobile()
            padding-left 0
            margin-top 5%
    .mapa
        width 100%
        height 400px
        +tablet()
            height 300px
        +mobile()
            height 200px
        iframe
            display block
            width 100%
            height 100%
    .box
        width 100%
        max-width 600px
        background #E5E8EE
        padding 50px 50px 85px
        position relative
        float left
        clearfix()
        +tablet()
            max-width 400px
            padding 35px 35px 65px
        +mobile()
            padding 25px 25px 35px
            max-width 100%
        h2
            exo 28
            color $vermelho
            margin 0 0 30px
            +tablet()
                font-size 24px
                margin-bottom 25px
            +mobile()
                font-size 20px
                margin-bottom 20px
        .social
            display block
            font-size 0
            position absolute
            right 50px
            top 58px
            +tablet()
                right 35px
                top 40px
            +mobile()
                right 25px
                top 28px
            a
                display inline-block
                width 17px
                height 17px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
                + a
                    margin-left 3px
        .telefones
            padding-top 24px
            background $img('ico-telefone.png') no-repeat left top
            margin 0
            line-height 1.2
            exo 20 bold
            span
                display block
        .endereco
            background $img('ico-local.png') no-repeat left top
            exo 20
            margin 1.5em 0
            padding-top 24px
            line-height 1.2
        .emails
            padding-top 20px
            margin 0
            background $img('ico-email.png') no-repeat left top
            line-height 1.2
            exo 20
            a
                display block
                &:hover
                    color $vermelho
        +tablet()
            .telefones
            .endereco
            .emails
                font-size 17px !important
        +mobile()
            .telefones
            .endereco
            .emails
                font-size 15px !important
    form
        width calc('100% - 650px')
        float right
        margin-top 140px
        +tablet()
            margin-top 115px
            width calc('100% - 450px')
        +mobile()
            width 100%
            margin-top 25px
        input
        textarea
        select
            width 100%
            display block
            border 1px solid #ccc
            outline 0
            margin-bottom 4px
            resize none
            exo 15
            height 40px
            padding 0 8px
        textarea
            height 150px
            padding 8px
        input[type=submit]
            background $cinza
            border 0
            cursor pointer
            exo 15 bold
            transition background .3s
            color #fff
            &:hover
                background $vermelho
        #form-contato-response
            display none
            border 1px solid $vermelho
            padding 10px
            exo 12
            text-align center
            text-transform uppercase
