.home
    .banners
        width 100%
        height 400px
        position relative
        +mobile()
            height 300px
            overflow hidden
        .banners-slides
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            > div
                position absolute
                width 100%
                height 100%
                background-size cover
                background-position center
        .chamada
            position absolute
            width 100%
            left 0
            bottom 0
            z-index 102
            .center
                background rgba(#fff, .75)
                padding 20px 25px
                position relative
                clearfix()
                +mobile()
                    width 100%
                .texto
                    width calc('100% - 250px')
                    float left
                    h3
                        exo 28
                        color $vermelho
                        margin 0 0 10px
                    p
                        margin 0
                        exo 16
                    +mobile()
                        width 100%
                        float none
                        h3
                            font-size 20px
                        p
                            font-size 14px
                .link
                    float right
                    width 170px
                    height 50px
                    background #3A3738
                    transition background .3s
                    line-height 50px
                    exo 14 bold
                    color #fff
                    text-align center
                    &:hover
                        background $vermelho
                    +mobile()
                        float none
                        display block
                        height 40px
                        line-height 40px
                        font-size 13px
                        margin-top 14px
                #cycle-pager
                    position absolute
                    right 0
                    top -20px
                    font-size 0
                    +mobile()
                        display none
                    a
                        width 10px
                        height 10px
                        display inline-block
                        border-radius 100%
                        border 1px solid #fff
                        transition background .3s
                        + a
                            margin-left 4px
                        &.cycle-pager-active
                            background #fff
    .servicos-home
        padding 55px 0 0
        h2
            text-align center
            margin 0 0 20px
            exo 24 light
        .lista
            display flex
            flex-wrap wrap
            a
                display block
                width 33.333%
                background $cinza
                border-right 1px solid #fff
                border-bottom 1px solid #fff
                padding .5em 1em .55em
                exo 18 bold
                +tablet()
                    font-size 16px
                color #fff
                transition background .3s
                &:hover
                    background $vermelho
        +mobile()
            padding 30px 0 0
            h2
                font-size 18px
                margin-bottom 15px
            .lista a
                width 50%
                font-size 15px
    .equipamentos
        padding 55px 0
        h2
            text-align center
            margin 0 0 20px
            exo 24 light
        .lista
            font-size 0
            span
                display inline-block
                vertical-align top
                width 33.333%
                exo 16
                padding .25em 2em .25em 1em
                position relative
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                    top .1em
        +mobile()
            padding 30px 0
            h2
                font-size 18px
                margin-bottom 15px
            .lista span
                width 50%
                font-size 15px
    .destaques
        background #E5E8EE
        padding 55px 0
        h2
            text-align center
            margin 0 0 20px
            exo 24 light
        .lista
            clearfix()
            display flex
            flex-wrap wrap
            .destaque
                width calc('33.333% - 13.333px')
                border 1px solid rgba(#000, .2)
                background #fff
                margin-top 10px
                margin-right 10px
                float left
                &:nth-child(3n)
                    margin-right 0
                img
                    display block
                    width 100%
                h3
                    exo 24
                    color #fff
                    margin 0
                    padding 8px
                    text-transform uppercase
                    background $cinza
                    text-align center
                    +tablet()
                        font-size 20px
                .texto
                    padding 20px
                    +tablet()
                        padding 15px
                    exo 14
                    ul
                        padding 0
                        list-style-type none
                        &:first-child
                            margin-top 0
                        &:last-child
                            margin-bottom 0
                        li
                            font-size 1em
                            padding-left .8em
                            position relative
                            margin 0
                            + li
                                margin-top .5em
                            &:before
                                content '\00b7'
                                position absolute
                                left 0
                                top 0
                    p
                        font-size 1em
                        margin 0
                        + p
                            margin-top 1em
        +mobile()
            padding 30px 0
            h2
                font-size 18px
                margin-bottom 15px
            .lista
                display block
                .destaque
                    width 100%
                    margin-right 0
                    h3
                        font-size 20px
                    .texto
                        padding 15px
    .cases-home
        padding 55px 0
        h3
            text-align center
            margin 0 0 40px
            exo 20 light
        .lista
            font-size 0
            text-align center
            a
                display inline-block
                width 25%
                +tablet()
                    padding 0 8px
                img
                    display block
                    max-width 100%
                    margin 0 auto
        +mobile()
            padding 30px 0
            h3
                font-size 18px
                margin-bottom 25px
            .lista
                a
                    width 50%
                    padding 0 8px
                    &:nth-child(1)
                    &:nth-child(2)
                        margin-bottom 16px
