.institucional
    padding-bottom 60px
    min-height 500px
    +tablet()
        padding-bottom 40px
        min-height 380px
    +mobile()
        padding-bottom 30px
        min-height 291px
    .institucional-nav
        background #8E8E8E
        font-size 0
        padding 12px 0
        .center
            padding-left 140px
            +below($tablet)
                padding-left 0
        a
            display inline-block
            exo 14
            color #000
            + a
                margin-left 25px
            +mobile()
                width 50%
                &:nth-child(1)
                &:nth-child(2)
                    margin-bottom 5px
                + a
                    margin-left 0
            &:hover
                color $vermelho
            &.active
                color #fff !important
    .banner
        width 100%
        height 400px
        background-size cover
        background-position center
        background-color #BCBEC0
        +tablet()
            height 300px
        +mobile()
            height 200px
    .box
        margin-top -350px
        margin-left 50px
        padding 50px 50px 85px
        max-width 600px
        background #E5E8EE
        exo 20
        +tablet()
            exo 18
            margin-top -250px
            margin-left 0
            padding 35px 35px 65px
        +mobile()
            exo 16
            margin-top -175px
            margin-left 0
            width 100%
            padding 25px 25px 35px
        &.box-a-empresa
            exo 14
        h2
            exo 28
            color $vermelho
            margin 0 0 30px
            +tablet()
                font-size 24px
                margin-bottom 25px
            +mobile()
                font-size 20px
                margin-bottom 20px
        ul
            padding 0
            list-style-type none
            &:first-child
                margin-top 0
            li
                font-size 1em
                padding-left .8em
                position relative
                margin 0
                + li
                    margin-top .5em
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                    top 0
        p
            font-size 1em
            margin 0
            + p
                margin-top 1em
