.servicos
    position relative
    padding-bottom 60px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 30px
    &:before
        content ''
        position absolute
        width 100%
        height 400px
        z-index -1
        background #BCBEC0
        +tablet()
            height 300px
        +mobile()
            height 200px
    .center
        padding-top 90px
        padding-left 50px
        +tablet()
            padding-top 50px
            padding-left 0
        +mobile()
            padding-top 25px
            padding-left 0
    .box
        width 100%
        background #E5E8EE
        padding 50px 50px 105px
        clearfix()
        +tablet()
            padding 35px 35px 85px
        +mobile()
            padding 25px 25px 65px
        .titulo
            width 100%
            float left
            margin-bottom 50px
            +mobile()
                margin-bottom 30px
            h2
                exo 28
                color $vermelho
                margin 0
                display inline-block
                +tablet()
                    font-size 24px
                +mobile()
                    font-size 20px
            select
                width 500px
                background #BCBEC0
                color #fff
                exo 18 bold
                border 0
                outline 0
                height 32px
                padding 0 10px
                margin-left 50px
                transform translateY(-1px)
                +tablet()
                    width calc('100% - 200px')
                    float right
                +mobile()
                    display block
                    width 100%
                    margin-top 12px
                    margin-left 0
                    font-size 16px
        .texto
            width 50%
            float left
            h3
                exo 24 light
                margin 0 0 .8em
                text-transform uppercase
            exo 14
            +mobile()
                width 100%
                h3
                    font-size 20px
            ul
                padding 0
                list-style-type none
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                li
                    font-size 1em
                    padding-left .8em
                    position relative
                    margin 0
                    + li
                        margin-top .5em
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                        top 0
            p
                font-size 1em
                margin 0
                + p
                    margin-top 1em
        .imagens
            width 45%
            float right
            border-right 2px solid rgba(#000, .2)
            border-bottom 2px solid rgba(#000, .2)
            position relative
            +mobile()
                width 100%
                margin-top 20px
            img
                width 100%
            .controls
                width 100%
                position absolute
                left 0
                bottom -25px
                text-align center
                font-size 0
                span
                    width 8px
                    height 15px
                    display inline-block
                    text-indent -9999px
                    cursor pointer
                    margin 0 5px
                    &.cycle-prev
                        background $img('seta-esq.png') no-repeat center
                    &.cycle-next
                        background $img('seta-dir.png') no-repeat center
